.carritoContainer{
    display: flex;
    height: 6rem;
    width: 6rem;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3rem;
    border: 2px solid black;
    border-radius: 100px;
}

.carrito {
    width: 3rem;
}