.contenedorDestacados {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.destacados {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.textoCargando {
    color: white;
}