@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to left, #e653c627, #9be4832a);
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-family: "Tourney", sans-serif;
    font-weight: 700 ;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #9BE483;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

h1 {
    display: none;
}